# data (exposures, hazards, reports)
/backend/data
backend/climada_unu.db
data/

# frontend
frontend/node_modules
frontend/.webpack

# backend
__pycache__

# develop
# backend/dev.ipynb
project_structure.py

# environment
backend/climada_env
climada_env/
build/
dist/
node_modules/

