# data (exposures, hazards, reports)
data
climada_unu.db

# frontend
node_modules
build
dist

# backend
__pycache__

# develop
# backend/dev.ipynb
project_structure.py
exposures_geodata.json
hazards_geodata.json
gadm41_EGY.gpkg
gadm41_THA.gpkg

# logs
logs/

# environment
climada_env
