# data (exposures, hazards, reports)
data
climada_unu.db

# frontend
node_modules
build
dist

# backend
__pycache__

# develop
# backend/dev.ipynb
project_structure.py
exposures_geodata_layer_0.json
exposures_geodata_layer_1.json
exposures_geodata_layer_2.json
gadm41_EGY.gpkg

# logs
logs/

# environment
climada_env
