html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.MuiGrid-container {
  flex-grow: 1;
}

/* .main-content {
  padding-top: 10vh; /* Adjust based on the height of Header and MainTabs 
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh; /* Adjust based on the height of your Header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .main-content {
    padding-top: 10vh; /* Adjust if needed for smaller screens like 15.6-16'' laptops */
  }
}

@media (min-width: 768px) and (max-width: 1920px) {
  .main-content {
    padding-top: 21vh; /* Adjust if needed for medium screens like larger laptops and smaller desktop monitors */
  }
}

@media (min-width: 1920px) {
  .main-content {
    padding-top: 12vh; /* Adjust if needed for larger screens like 27'' monitors with Full HD to 4K resolution */
  }
}
