.legend-container {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 250px;
  z-index: 1000;
  font-size: 12px;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  pointer-events: none; /* Ensure the legend does not block map interaction */
}

.color-blocks {
  display: flex; /* Ensures that the blocks are laid out horizontally */
  height: 20px; /* Height of the color blocks */
  border-radius: 4px; /* Optional: Rounds corners of the first and last blocks */
  overflow: hidden; /* Keeps nested elements within the bounds */
}

.color-blocks div {
  flex-grow: 1; /* Each block takes up equal space */
}

.value-labels {
  display: flex;
  justify-content: space-between; /* Ensures the labels are distributed evenly between the junctions */
  position: relative;
  top: 0; /* Adjust based on your layout */
  left: 10%; /* Offset the labels to start from the right edge of the first block */
  width: 80%; /* Adjust the width so the labels align with the junctions */
}

.value-label {
  position: relative;
  width: 20%; /* Adjust if necessary to ensure correct spacing */
  text-align: center; /* Center each label in the assigned space */
}

.legend-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.legend-label {
  flex-grow: 1;
  text-align: center; /* Center the text under each color block */
}

.legend-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px; /* Space between the title and the color blocks */
}
